{% extends 'includes/basic.html' %}

{% block content%}

<div class="container py-5">
  <h2>Login</h2>
  <form id="loginForm">
    <div class="mb-3">
      <label for="email" class="form-label">email</label>
      <input type="email" class="form-control" id="email" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'register'%}"class="btn btn-primary">Register</a>
    <a href="{% url 'resetEmailPassword'%}"class="btn btn-primary">Forget Password</a>
  </form>

  <div id="message" class="mt-3"></div>

  <script>
    document.getElementById("loginForm").addEventListener("submit", async function(e) {
      e.preventDefault();

      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      const response = await fetch("/api/token/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ email, password })
      });

      const data = await response.json();

      if (response.ok) {
        localStorage.setItem("access", data.access);
        localStorage.setItem("refresh", data.refresh);
        document.getElementById("message").innerHTML = `<div class="alert alert-success">Login successful</div>`;
        window.location.href = "/protected/";
      } else {
        document.getElementById("message").innerHTML = `<div class="alert alert-danger">Login failed</div>`;
      }
    });
  </script>
</div>

{% endblock %}


